[Unit]
Description=Drowsier
Documentation=https://github.com/ZimbiX/drowsier

[Service]
Type=simple
Environment="CONFIG=/etc/drowsier/config.yaml"
ExecStart=/usr/bin/drowsier
WorkingDirectory=/etc/drowsier
Restart=always

[Install]
WantedBy=multi-user.target
