[Unit]
Description=Drowsier
Documentation=https://github.com/ZimbiX/drowsier

[Service]
Type=simple
Environment="CONFIG=%h/.config/drowsier/config.yaml"
ExecStart=%h/.local/bin/drowsier
WorkingDirectory=%h/.config/drowsier
Restart=always

[Install]
WantedBy=default.target
