[Unit]
Description=Drowsier
Documentation=https://github.com/ZimbiX/drowsier
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=%h/.local/bin/drowsier
WorkingDirectory=%h/.config/drowsier
Restart=always
RestartSec=1
StartLimitInterval=0
